body{
  background-color: #f0f0f0;
  font-family: algerian;
}
.post-image{
  height: 500px;
  object-fit: cover;
}
.link{
  text-decoration: none;
}
.font-italic{
  font-style: italic;
}
.font-algerian{
  font-family: algerian;
}